.wrapper
    section.auto
        .auto__container
            .auto__logo
                img(src='img/logo.svg' alt="logo")
            .auto__image
                picture
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/car-head-mob.png")
                    source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/car-head-mob.png")
                    source(media="(min-width: 601px) and (max-width: 1112px) and (orientation: portrait)" srcset="img/car-head-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/car-head-desc.png")
                    img(src="img/car-head-desc.png" alt="Favbet")
            .auto__info
                .auto__text Іде збір
                .auto__progress
                    .myProgress
                        .percetn 44%
                .auto__button
                    a(href='#' class='auto__link')
            .auto__left
                .auto__left-done
                .auto__left-load
                    img(src='img/min-key.svg' alt='key')
                .auto__left-none
                .auto__left-none
                .auto__left-none
            .auto__right
                .auto__right-none
                .auto__right-none
                .auto__right-none
                .auto__right-none
                .auto__right-none

    section.game
        .game__container
            .game__arrow
                img(src='img/arrow-down.svg' alt='arrow')
            h2.game__title Бути всередині #[br] гри — це не #[br] тільки про #[br] емоції, а й про #[br] відповідальність
            p.game__text Це означає бути частиною ком'юніті, що в скрутний момент допомогає тим, хто цього потребує.
            .game__info
                .game__info-text
                    p Щоб швидше наблизити нашу перемогу, Збройні сили України потребують автівок. Ми вирішили допомогти їм.
                    p Разом з Favbet Foundation збираємо кошти та відраховуємо частину від кожного депозиту на закупівлю 10 машин для військових.
                    p Наближай перемогу разом з нами. Переходь на сторінку Favbet Foundation та підтримай збір.
                .game__info-img
                    img(src='img/comp.svg' alt='comp')
                .game__info-arrow
                    img(src='img/arrow-down.svg' alt='arrow')
            h3.game__sub-title Як це працює
            ul.game__row
                li.game__item
                    .game__item-img
                        img(src='img/icon-1.svg' alt='icon')
                    p.game__item-text Заходь на сайт
                li.game__item
                    .game__item-img
                        img(src='img/icon-2.svg' alt='icon')
                    p.game__item-text Реєструйся
                li.game__item
                    .game__item-img
                        img(src='img/icon-3.svg' alt='icon')
                    p.game__item-text Роби мінімальний депозит
                li.game__item
                    .game__item-img
                        img(src='img/icon-4.svg' alt='icon')
                    p.game__item-text Частина від кожного депозиту передається на покупку тачок
            .game__button
                a(href='#' class='game__link')
    .line-1
    section.buy
        .buy__container
            .buy__info
                .buy__info-percent 44%
                .buy__info-wrap
                    .buy__info-progress
                        .myProgress
                            .arrow-right
                                span
                                span
                                span
                    .buy__info-text Тачки в процесі збору
            .buy__row
                .buy__item-done
                .buy__item-load
                    img(src='img/min-key.svg' alt='key')
                .buy__item-none
                .buy__item-none
                .buy__item-none
                .buy__item-none
                .buy__item-none
                .buy__item-none
                .buy__item-none
                .buy__item-none
            .buy__image
                .buy__image-wrap
                    .border
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/car-buy-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/car-buy-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1112px) and (orientation: portrait)" srcset="img/car-buy-desc.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/car-buy-desc.png")
                        img(src="img/car-buy-desc.png" alt="Favbet")
            .buy__button
                a(href='#' class='buy__link')
    .line-1
    section.youtube
        .youtube__container
            h2.youtube__title Слідкуй за #[br] прокачкою на ютубі
            .youtube__info
                p.youtube__info-text Тюнінг by
                img(src='img/tune.svg' alt='logo')
            .auto__buy
                .auto__buy-slider#prizes-slider
                    .auto__buy-slider-item
                        img(src='img/test.jpg' alt='icon')
                    .auto__buy-slider-item
                        img(src='img/cat-1.jpeg' alt='icon')
                    .auto__buy-slider-item
                        img(src='img/cat-3.jpeg' alt='icon')
                    .auto__buy-slider-item
                        img(src='img/cat-1.jpeg' alt='icon')
                    .auto__buy-slider-item
                        img(src='img/cat-2.jpeg' alt='icon')
                    .auto__buy-slider-item
                        img(src='img/cat-3.jpeg' alt='icon')
                    .auto__buy-slider-item
                        img(src='img/cat-1.jpeg' alt='icon')
                    .auto__buy-slider-item
                        img(src='img/cat-3.jpeg' alt='icon')
                    .auto__buy-slider-item
                        img(src='img/cat-3.jpeg' alt='icon')
                    .auto__buy-slider-item
                        img(src='img/test.jpg' alt='icon')
                .auto__buy-controls
                    .controls-left.arrow-disabled
                        .controls-left__arrow
                    .controls-right
                        .controls-right__arrow
                .auto__buy-info
                    .controls-play
                    .controls-text Випуск #[span.counter 1] з 10
                    .controls__button
                        a(href='#' class='controls__link')
            .youtube__foot
                .youtube__foot-logo
                    img(src='img/logo-foot.svg' alt='logo')
                p.youtube__foot-text Дізнатись більше про Благодійний фонд Favbet Foundation
                p.youtube__foot-text +380443648100. Україна, 04073, місто Київ, ПРОСПЕКТ СТЕПАНА БАНДЕРИ, будинок 8, приміщення 1
                ul.youtube__foot-row
                    li.youtube__foot-item.youtube__foot-item-fav
                        a(href='#').youtube__foot-link
                    li.youtube__foot-item.youtube__foot-item-facebook
                        a(href='#').youtube__foot-link
                    li.youtube__foot-item.youtube__foot-item-insta
                        a(href='#').youtube__foot-link
                ul.youtube__foot-links
                    li.youtube__foot-links-item
                        a(href='#').youtube__foot-links-goin Про фонд
                    li.youtube__foot-links-item
                        a(href='#').youtube__foot-links-goin Проекти
                    li.youtube__foot-links-item
                        a(href='#').youtube__foot-links-goin Напрями
                    li.youtube__foot-links-item
                        a(href='#').youtube__foot-links-goin Контакти
















